*{
    padding: 0;
    margin: 0;
}
.navbar{
    background-color: rgb(116, 108, 195);
    
}
@media screen and (max-width: 767px) { /* for mobile devices */
    #nb2{
      padding: 0.1px; 
      height: auto; /* set height to auto */
    }
    #nb2 h3 {
      font-size: 1.5rem; /* reduce font size */
      margin-bottom: 0; /* remove bottom margin */
    }
  }
.nav-item{
    padding-left: 10px;
    padding-right: 10px;
}
.nav-item a:hover{
    background-color: beige;
    color:black !important;
    border-radius: 0.3em;
    transition: 1s ease-in-out;
    transform: scale(1.1);
    
    /* display: block; */

}

form{
    width:auto;
    border: 1px solid grey;
    background-color: beige;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 60px;
    padding-bottom: 70px;
    border-radius:0.2em;
}
#ajb{
    border-radius: 0.2em;
    border: 1px solid grey;
    padding: 5px;
    transform: scale();
    transition: ease-in-out;
}
#home {
    color: rgb(56, 53, 53);
     /* margin-left: 100px; */
     margin-top: 100px; 
     /* margin-right: 220px;  */
    font-size: large;
    text-align: justify;

}

 